body {
  margin: 0;

  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #000;

  text-transform: uppercase;

  background: #fff;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;
  text-align: center;
  vertical-align: middle;

  color: #fff;

  text-transform: uppercase;

  border: none;
}

.button-brown {
  background: #766357;
}

.button-brown:hover,
.button-brown:focus {
  background: #604e43;
}

.button-brown:active {
  background: #503e33;
  color: rgba(255, 255, 255, 0.3)
}

.button-blue {
  background: #81b3d2;
}

.button-blue:hover,
.button-blue:focus {
  background: #669ec0;
}

.button-blue:active {
  background: #5496bd;
  color: rgba(255, 255, 255, 0.3)
}


.main-nav .nav-item {
  list-style: none;
}

.main-nav .nav-item a {
  color: #000000;
}

.main-nav .nav-item a:hover,
.main-nav .nav-item a:focus {
  color: #81b3d2;
}

.main-nav .nav-item a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-nav .current-page a {
  color: #766357;
}

.welcome {
  background: #b2e4f4 url("../img/welcome-background.jpg") no-repeat 0 0;
  text-align: center;
}

.main-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 1.24;
  text-align: center;
  display: block;
}

.reasons-list .reason-item {
  list-style: none;
}

.reasons-title {
  line-height: 1.86;
  text-align: center;
}

.reason-description {
  text-align: center;
}

.reason-description .description-header {
  font-size: 21px;
  font-weight: 700;
}

.reason-description .description-number,
.reason-description .description-text {
  text-align: center;
}

.reason-item .reason-description,
.reason-item .reason-description {
  background: #81b3d2;
  color: #fff;
}

.additional-reasons .reason-item.reason-description {
  background: #fff;
  color: #000;
}

.additional-reasons .reason-item.reason-description .description-header {
  line-height: 1;
}

.reason-item.reason-description {
  background: #eee;
}

.interested-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  display: block;
}

.specify-dates-title {
  line-height: 1.71;
  text-align: center;
}

.search-button {
  line-height: 1.24;
  font-size: 21px;
  font-weight: bold;
}

.search-hotel input {
  font: inherit;
  font-weight: bold;

  background: #f2f2f2;
  border: 1px solid #f2f2f2;
  line-height: 1.86;
}

.search-hotel input:hover {
  background: #ebebeb;
  border-color: #ebebeb;
}

.search-hotel input:focus {
  background: transparent;
  border-color: #e5e5e5;
  outline: none;
}

.search-hotel .button-icon {
  background: #ebebeb;
  display: inline-block;
}

.search-hotel .button-submit {
  line-height: 1.24;
  font-size: 21px;
  font-weight: bold;
}

.visitsedona {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
}

.social-links .social-link {
  list-style: none;
  text-align: center;
}

.social-links .social-link a {
  color: #fff;
  background: #81b3d2;
}

.social-links .social-link a:hover,
.social-links .social-link a:focus {
  text-decoration: none;
}

.copyright {
  line-height: 1.86;
  text-align: center;
}

.copyright a {
  display: inline-block;
  vertical-align: middle;
}

.catalog-count {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: left;
}

.catalog .sort-label {
  font-size: 12px;
  text-align: left;
}

.catalog-sort .sort-item {
  list-style: none;
}

.catalog-sort .sort-item a {
  font-size: 12px;
  text-align: left;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-sort .sort-item a:hover,
.catalog-sort .sort-item a:focus {
  color: #81b3d2;
}

.catalog-sort .sort-item a:active {
  color: #000;
}

.catalog-sort .sort-current a {
  color: #81b3d2;
}

.sort-direction .direction-item {
  list-style: none;
}

.sort-direction .direction-item a {
  color: #cacaca;
}

.sort-direction .direction-item a:hover,
.sort-direction .direction-item a:focus {
  color: #000;
}

.sort-direction .direction-item a:active {
  color: #81b3d2;
}

.sort-direction .direction-current a {
  color: #81b3d2;
}

.catalog-list .catalog-item {
  list-style: none;
}

.catalog-item .item-link {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: left;
  color: #000;
}

.catalog-item .item-link:hover,
.catalog-item .item-link:focus {
  color: #81b3d2;
}

.catalog-item .item-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item .item-type,
.catalog-item .item-price {
  text-align: left;
}

.item-rating .rating-value {
  text-align: center;
  color: #666666;
  background: #f2f2f2;
}
